.cloudOptions li {
  animation: cloudlyFloat 3s ease-in-out infinite;
}

@keyframes cloudlyFloat {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(5px, -5px);
  }
  75% {
    transform: translate(-5px, 5px);
  }
  100% {
    transform: translate(0);
  }
}

.cloudOptions li:nth-child(1) {
  animation-delay: 0s;
}
.cloudOptions li:nth-child(2) {
  animation-delay: 0.4s;
}
.cloudOptions li:nth-child(3) {
  animation-delay: 0.3s;
}
.cloudOptions li:nth-child(4) {
  animation-delay: 0.5s;
}
