.membersOptions li {
  animation: starsFloat 3s ease-in-out infinite;
}

@keyframes starsFloat {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-2px);
  }
  75% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

.membersOptions li:nth-child(1) {
  animation-delay: 0s;
}
.membersOptions li:nth-child(2) {
  animation-delay: 0.4s;
}
.membersOptions li:nth-child(3) {
  animation-delay: 0.3s;
}
.membersOptions li:nth-child(4) {
  animation-delay: 0.5s;
}
