.SRMStar {
  width: 23px;
  height: 23px;
  background: url("../sprites/cover-star-srm.png");
  background-size: 69px 23px;
  animation: playStar 1.5s steps(3) infinite;
  z-index: 10;
}

.ILYStar {
  width: 23px;
  height: 23px;
  background: url("../sprites/cover-star-ily.png");
  background-size: 69px 23px;
  animation: playStar 1.5s steps(3) infinite;
  z-index: 10;
}

.bombStar {
  width: 23px;
  height: 23px;
  background: url("../sprites/cover-star-bomb.png");
  background-size: 69px 23px;
  animation: playStar 1.5s steps(3) infinite;
  z-index: 10;
}

@keyframes playStar {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -69px 0;
  }
}
