.darkCloudSprite {
  width: 25px;
  height: 25px;
  background: url("../sprites/dark-cloud.png");
  background-size: 50px 25px;
  animation: playDarkClouds 1s steps(2) infinite;
}

@keyframes playDarkClouds {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -50px 0;
  }
}
