.titleContainer li {
  animation: floatingTitle 3s ease-in-out infinite;
}

.titleContainer li:nth-child(1) {
  animation-delay: 0s;
}
.titleContainer li:nth-child(2) {
  animation-delay: 0.4s;
}
.titleContainer li:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes floatingTitle {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(3px, 3px);
  }
  75% {
    transform: translate(-3px, -3px);
  }
  100% {
    transform: translate(0);
  }
}
